---
import '../style/utils.css';
---
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<header class="header">
    <div class="header__navigation">
        <span class="header__menu material-symbols-outlined">
            menu
            </span>
     
      <img class="header__logo" src="https://www.autopartesdior.com/wp-content/uploads/2022/08/cropped-logo-autoaprtes_Mesa-de-trabajo-1-1536x735.png" alt="logo">

      <nav class="navbar">
        <ul class="navbar__items">
          <li><a class="navbar__link" href="#">Inicio</a></li>
          <li><a class="navbar__link" href="#">Catalogo</a></li>
          <li><a class="navbar__link" href="#">tips</a></li>
          <li><a class="navbar__link" href="#">Contact</a></li>
        </ul>
      </nav>

      


    </div>

    <!-- inicio modal navbar -->
    <div class="modal-navbar__background">
      <nav class="modal-navbar">
        <span class="modal-navbar__close-icon material-symbols-outlined">
            close
            </span>

        <ul class="modal-navbar__items">
          <li><a class="modal-navbar__link" href="#">Inicio</a></li>
          <li><a class="modal-navbar__link" href="#">Catalogo</a></li>
          <li><a class="modal-navbar__link" href="#">tips</a></li>
          <li><a class="modal-navbar__link" href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <!-- final modal navbar -->

    <div class="header__cart-avatar">
      <div class="header__cart">
        <div class="header__cart--notification">0</div>
        <span class="material-symbols-outlined">
            account_circle
            </span>
        <!-- <img src="./images/icon-cart.svg" alt=""> -->
      </div>
      <span class="header__avatar material-symbols-outlined">
        settings_account_box
        </span>
      <!-- <img class="header__avatar" src="./images/image-avatar.png" alt=""> -->
    </div>
</header>
  <script>
    // Mostrar el navbar cuando presiono el menu de hamburgesa
const hamburgerMenu = document.querySelector('.header__menu');
const modalNavbar = document.querySelector('.modal-navbar__background');
const closeModalNavbar = document.querySelector('.modal-navbar__close-icon');

modalNavbar.style.display = 'none'

hamburgerMenu.addEventListener('click', ()=>{
console.log('abrir modal');
modalNavbar.style.display = 'block';
});

closeModalNavbar.addEventListener('click', ()=>{
modalNavbar.style.display = 'none';
});

</script>